# Please do not attempt to edit this file without the direct consent from the DevOps team. This file is managed centrally.
# Contact @moabu

# These owners will be the default owners for everything in this branch of
# the repo. Unless a later match takes precedence
/.github/ @moabu
/community-edition-setup/ @devrimyatar @yuriyz @yurem @yuriyzz
/community-edition-containers/ @iromli @moabu
/oxAuth/ @yurem @yuriyz @yuriyzz
/gluu-passport/ @kdhttps
/casa/ @jgomer2001
/cloud-native-edition/ @moabu @iromli
/docs-gluu-server-prod/ @ossdhaval
/gluu-core-bom/ @yurem
/oxCore/ @yurem @yuriyz @yuriyzz
/oxOrm/ @yurem @yuriyz
/fido2/ @yurem @yackermann
/scim/ @jgomer2001
/oxTrust/ @yurem @shekhar16
/oxShibboleth/ @yurem @uprightech
/oxd/ @duttarnab @yuriyz