[Unit]
Description=Gluu Cluster Manager Service

[Service]
Type=forking
ExecStart=/opt/clustermgr-sha/bin/clustermgr4-cli start
ExecStop=/opt/clustermgr-sha/bin/clustermgr4-cli stop
User=root
Group=root

[Install]
WantedBy=multi-user.target
